<h1>All Questions</h1>
<a href="/questions/new">Add Question</a>
<table>
<thead>
<tr>
<td><b>ID</b></td>
<td></td>
<td><b>Movie Title</b></td>
<td><b>Correct Answer</b></td>
</tr>
</thead>
<tbody>
<% @emptycount = 0 %>
<% @questions.each do |a| %>
<tr>
<td><%= a.id %></td>
<td><img src="<%=a.image%>" style="width:60px;height:auto"></td>
<% if a.image=="" || a.a1=="" || a.a2=="" || a.a3=="" || a.a4==""%>
	<% @emptycount = @emptycount + 1%>
	<td style="background-color:gray">
<% else %>
	<td>
<% end %>
<a href="/questions/<%=a.id%>/edit"><%= a.q %></a></td>
<td>
<% if a.a1s != 0 %>
	<%= a.a1 %>
<% elsif a.a2s != 0 %>
	<%= a.a2 %>
<% elsif a.a3s != 0 %>
	<%= a.a3 %>
<% else %>
	<%= a.a4 %>
<% end %>
</td>
<td><%=link_to "Delete", question_path(a), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%></td>
</tr>
<% end %>
</tbody>
</table>
<a href="/questions/new">Add Question</a>
<br><%= @emptycount %> incomplete entries